.margins {
	margin-top:40px;
	margin-bottom:10px;
}

.menuTitle {
	text-align: center;
	color: #999;
	font-size: 16px;
}

.menu-inline {
	position: relative;
	display: inline;
}

.list-action-menu {
	background-color: #D1D1D1;
	color: white;
	padding: 0 12px;
	box-sizing: border-box;
	line-height: 72px;
}

.list-action-item {
 	padding: 0 16px;
	box-sizing: border-box;
}

.name {
	margin-top: 10px;
	line-height: 1.2;
}

.desc {
 	line-height: 1.2;
 	font-size: 14px;
 	color: #999;
}

.blockInline {
	margin-left: 3px;
	margin-right: 3px;
	display: inline;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.main-container {
    float:left;
    position:relative;
    left:50%;
}

.fixer-container {
    float:left;
    position:relative;
    left:-50%;
}

.text-input {
	margin-top: 4px;
	width: 100%;
}

.textarea {
	margin-top: 4px;
	width: 100%;
	height: 100px;
}

.item {
	padding: 10px;
	line-height: 1;
}
.item-thum {
	background-color: #ccc;
	width: 50px;
	height: 50px;
	border-radius: 4px;
}
.item-name {
	font-size: 15px;
	font-weight: 500;
}
.item-desc {
	font-size: 14px;
	color: #666;
	line-height: 1.3;
	margin: 4px 0 0 0;
	padding: 0 30px 0 0;
}
.item-label {
	font-size: 12px;
	color: #999;
	float: right;
}


