<ons-page  ng-controller="addTaskController">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Create a new task</div>
        <div class="right">
			<ons-button	ng-click="addTask();">
			Add <ons-icon icon="ion-checkmark" size="40px"></ons-icon>
			</ons-button>
        </div>
    </ons-toolbar>
	<br />
    <div style="text-align: center">
		<ons-list>
			<ons-list-item>
				<input type="text" placeholder="Title" ng-model="task_title" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
			</ons-list-item>

			<ons-list-item>
				<input type="text" placeholder="Category" ng-model="task_category" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
			</ons-list-item>
			<ons-list-item>
				<textarea type="text" placeholder="Description" ng-model="task_description" class="textarea textarea--transparent" style="margin-top:8px; width: 100%;">
			</ons-list-item>
		</ons-list>
    </div>
</ons-page>
