<!DOCTYPE HTML>
<!-- Apply Module -->
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="components/loader.js"></script>
	<link rel="stylesheet" href="components/loader.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/controller.js"></script>
	<script src="js/model.js"></script>
</head>
<body>
	<ons-navigator var="myNavigator">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="center">Memo OnsenUI App Example</div>
			</ons-toolbar>
			    <div style="margin: auto; width: 95%;">
				    <div class="margins">
				    	<span style="color:#666"><ons-icon icon="fa-check-square-o" size="22em"></ons-icon></span>
				    </div>
			    </div>
			<ons-button modifier="large--cta" onclick="myNavigator.resetToPage('slidingmenu.html')">Start</ons-button>
	</ons-navigator>

	<!-- SLIDING MENU -->
	<ons-template id="slidingmenu.html">
		<ons-page>
			<ons-sliding-menu var="slidingMenu" swipeable="false" menu-page="menu.html" main-page="memo.html"  side="left" type="overlay" max-slide-distance="200px">
			</ons-sliding-menu>
		</ons-page>
	</ons-template>

	<!-- MENU -->
	<ons-template id="menu.html">
		<ons-page fixed-style style="background-color: white">
			<ons-toolbar fixed-style>
				<div class="center">Categories</div>
				<div class="right" style="margin-top:5px"><ons-button modifier="quiet" ng-click="ons.slidingMenu.closeMenu()"><ons-icon icon="fa-chevron-left" size="25px" fixed-width="false" style="color: #5087c3"></ons-icon></ons-back-button></div>
			</ons-toolbar>
			<ons-list id="categoryList" ng-controller="categoryController">
		        <ons-list-item
		            modifier="tappable" class="list__item__line-height"
		            ng-click="setCategory('*');">
		            <i class="ion-home fa-lg" style="color: #666"></i>
		            &nbsp; All
					<span class="item-label">{{countAll}}</span>
		        </ons-list-item>
		        <ons-list-item
		            modifier="tappable" class="list__item__line-height"
		            ng-click="setCategory('~');">
		            <i class="ion-checkmark" style="color: #666"></i>
		            &nbsp; Completed
					<span class="item-label">{{categoryCount['~'] ? categoryCount['~'] : 0}}</span>
		        </ons-list-item>
		        <ons-list-item
		            modifier="tappable" class="list__item__line-height"
		            ng-click="setCategory(' ');">
		            <i class="ion-qr-scanner fa-lg" style="color: #666"></i>
		            &nbsp; No category
					<span class="item-label">{{categoryCount[' '] ? categoryCount[' '] : 0}}</span>
		        </ons-list-item>
		        <ons-list-item
		            modifier="tappable" class="list__item__line-height"
		            ng-click="setCategory(item);" ng-repeat="item in categoryList">
		            <i class="ion-folder fa-lg" style="color: #666"></i>
		            &nbsp; {{item}}
					<span class="item-label">{{categoryCount[item]}}</span>
		        </ons-list-item>
		    </ons-list>
		</ons-page>
	</ons-template>

	<!-- POPOVER -->
	<ons-template id="popover.html">
		<ons-popover direction="up down" cancelable>
			<div style="text-align: center; opacity: 0.5;">
				<p>Title input is empty!</p>
				<p><small>Enter a name for your task to create or modify it.</small></p>
			</div>
		</ons-popover>
	</ons-template>
</body>
</html>
