<ons-page ng-controller="memoController">
	<ons-toolbar fixed-style>
		<div class="left"><ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button></div>
		<div class="center">My tasks</div>
		<div class="right">
			<ons-button modifier="quiet" onclick="myNavigator.pushPage('addtask.html')">
			    New <ons-icon icon="fa-plus-circle "></ons-icon>
			</ons-button>
		</div>
	</ons-toolbar>
	<p style="text-align: center; color: #999; font-size: 14px;">{{category_label}}</p>
	<div class="list-action-item" ng-hide="countFiltered">Nothing found</div>

	<ons-list>
		<ons-list-item ng-repeat="item in filteredMemo">
			<ons-carousel var="{{'carousel.id' + $index}}" swipeable style="height: 72px; width: 100%;" initial-index="1" auto-scroll>
				<ons-carousel-item class="list-action-menu">
					<!-- ACTIONS -->
					<div class="main-container">
						<div class="fixer-container">
							<div class="blockInline">
								<ons-button ng-click="deleteTask($index);">
									Delete
									<ons-icon icon="ion-trash-a"></ons-icon>
								</ons-button>
							</div>
							<div class="blockInline">
								<ons-button ng-click="completeTask($index); carousel['id' + $index].setActiveCarouselItemIndex(1);" ng-show="item.category!='~'">
									Complete
									<ons-icon icon="ion-checkmark-round"></ons-icon>
								</ons-button>
							</div>
							<div class="blockInline">
								<ons-button ng-click="setSelected($index); myNavigator.pushPage('taskdetails.html');">
									Details
									<ons-icon icon="ion-clipboard"></ons-icon>
								</ons-button>
							</div>
						</div>
					</div>
				</ons-carousel-item>
				<ons-carousel-item class="list-action-item">
					<div class="name">
						{{item.title}} <span class="desc"><ons-icon icon="ion-checkmark-round" ng-show="item.category=='~'"></ons-icon></span>
					</div>
					<div class="desc">
						{{item.date.getFullYear() + "/" + (item.date.getMonth() + 1) + "/" + item.date.getDate()}}
					</div>
				</ons-carousel-item>
			</ons-carousel>
		</ons-list-item>
    </ons-list>
</ons-page>